@charset "utf-8";
/* CSS Document */

nav {
	background-color: #0C72D4;
	height: 50px;
    /*margin: 100px auto;
    text-align: center; */
}
nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav ul {
   /* background: -moz-linear-gradient(center top , #EFEFEF 0%, #BBBBBB 100%) repeat scroll 0 0 transparent;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
    display: inline-table;*/
    list-style: none outside none;
    padding: 0 20px;
    position: relative;
}
nav ul:after {
    clear: both;
    content: "";
    display: block;
}
nav ul li {
    float: left;
}
nav ul li:hover {
    /*background: -moz-linear-gradient(center top , #4F5964 0%, #5F6975 40%) repeat scroll 0 0 transparent;*/
	background-color: #FFFFFF;
}
nav ul li:hover a {
    color: #0C72D4;
}
nav ul li a {
    /*display: block;
    padding: 25px 40px;
    text-decoration: none;
	*/
	display: block;
	padding: 0px 50px 0px 50px;
	line-height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	font-weight: 200;
	color: #FFFFFF;
	border: none;
	width: 60px;
}
nav ul ul {
    background: none repeat scroll 0 0 #C9DBED;
	
    border-radius: 0 0 0 0;
    padding: 0;
    position: absolute;
    top: 100%;
}
nav ul ul li {
    border-bottom: 1px solid #0C72D4;
   
    float: none;
	
    position: relative;
}
nav ul ul li a {
    color: #FFFFFF;
    /*padding: 15px 40px;*/
}
nav ul ul li a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}
nav ul ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}

